*
{
    box-sizing: border-box;
}

html
{
    font-family: 'Varela Round' !important;
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
    /* background-color: #EFEFEF !important; */
    background-image: linear-gradient(to bottom right, rgba(239,239,239,0),
                                                         rgba(79,79,79,0.75));
}

.nav
{
    display: flex;
    border: 1px solid black;
}

.nav .buttons
{
    align-self: center;
    /* width: 15%;
    border: 1px solid black; */
}

.nav .weather
{
    /* border: 1px solid black;
    width: 15%; */
    align-self: stretch;
}

.button {
    background-color: #00A7E1;
    border: 2px solid #00A7E1;
    color: #00171F;
    margin-right: 10px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    outline: none;
}

.button:hover
{
    border: 2px solid #007EA7;
    color: #00171F;
    background-color: #00A7E1;
    border-radius: 5px;
    cursor: grab;
}

.button:active
{
    border: 2px solid #007EA7;
    color: #00171F;
    background-color: #007EA7;
    border-radius: 5px;
    cursor: grabbing;
}