*
{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent
}

html
{
    font-family: 'Varela Round' !important;
    max-width: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgba(239,239,239,0),
                                                         rgba(79,79,79,0.75));
    background-repeat: no-repeat;
}

#weather
{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

#weather-data
{
    color: #e7ecef;
}